<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/']">Cancel</ion-button>
    </ion-buttons>
    <ion-title>New Account</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="save()" [strong]="true">Save</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-item button>
    <ion-toggle color="secondary" #useAuthKey>
      <ion-label>Have an authenticator key?</ion-label>
      <ion-note color="medium"
        >Authenticator keys look like web addresses
      </ion-note>
    </ion-toggle>
  </ion-item>
  <ion-item *ngIf="useAuthKey.checked">
    <!-- TODO: Implement the correct pattern for inline HOTP/TOTP validation. -->
    <ion-input #authKey label="Key" placeholder="Paste your authenticator URI">
    </ion-input>
  </ion-item>
  <form [formGroup]="newAccountForm" (ngSubmit)="save()">
    <ion-item>
      <ion-input
        label="Secret"
        type="text"
        placeholder="Example: I65VU7K5ZQL7WB4E"
        formControlName="secret"
        errorText="Secret is required"
        pattern="/^[A-Z2-7]+=*$/"
        required
      >
        <ion-button
          fill="clear"
          slot="end"
          aria-label="Paste authenticator key"
          (click)="pasteAuthKey()"
        >
          <ion-icon
            color="medium"
            slot="icon-only"
            name="clipboard-outline"
            aria-hidden="true"
          ></ion-icon>
        </ion-button>
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        name="account"
        label="Account"
        type="text"
        formControlName="issuer"
        placeholder="Choose a name for this service"
        errorText="Account name required"
      />
    </ion-item>
    <ion-item>
      <ion-input
        label="Label"
        type="text"
        formControlName="label"
        placeholder="Optionaly label this account"
      />
    </ion-item>
  </form>
</ion-content>
