<ion-content
  [fullscreen]="true"
  class="ion-activatable ripple-parent"
  id="createAccountModal"
>
  <ion-ripple-effect></ion-ripple-effect>
  <div class="center-middle">
    <h1>Open Authenticator</h1>
    <p><ion-text>open things with it</ion-text></p>
    <ion-text color="medium"><small>TAP ANYWHERE TO BEGIN</small></ion-text>
  </div>
</ion-content>
<ion-footer translucent="true">
  <ion-toolbar>
    <ion-text color="medium">
      Maintained with
      <ion-icon name="heart-outline"></ion-icon> by the
      <a
        href="https://www.openworkinggroup.org"
        title="An Open Working Group project."
        target="_blank"
        >Open Working Group</a
      >.
    </ion-text>
  </ion-toolbar>
</ion-footer>
