<ion-header [translucent]="true">
  <ion-toolbar
    ><ion-title>{{ displayName }}</ion-title>
    <ion-buttons slot="end">
      <ion-button color="medium" id="about-alert">
        <ion-icon
          slot="icon-only"
          name="information-circle-outline"
        ></ion-icon> </ion-button
    ></ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-alert
  trigger="about-alert"
  header="{{ displayName }}"
  message="{{ description }}"
  [buttons]="aboutAlertActions"
></ion-alert>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">My Accounts</ion-title>
    </ion-toolbar>
  </ion-header>
  <app-account
    *ngFor="let account of accounts() | fuzzyFilter: query: 'issuer': 'label'; index as i"
    [account]="account"
    [id]="i"
  ></app-account>
</ion-content>

<app-toolbar (filter)="query=$event"></app-toolbar>
